body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 980px;
    background-image: url(/images/background.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.header{
    width: 100%;
    height: 90px;
   display: flex;
   justify-content: center;
   background-color: gray; 
   box-shadow: 0 8px 6px -6px black;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
.inner-container{
    background-color: gray;
    width: 80%;
    height: 800px;
    box-shadow:inset 0 0 10px black;
}
.selector{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.pokedata{
    width: 100%;
    height: 720px;
    background-image: url(/images/battleground.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    box-shadow:inset 0 0 10px black;
}
.pokemon{
    margin-top: 5px; 
    width: 50%;
    height: 710px;
}
.trainer{
    margin-top: 5px;
    width: 50%;
    height: 710px;
    margin-left: 10px;
}
.pokemon-char{
    margin-top: 15%;
    height: 200px;
    display: flex;
    justify-content: center;
}
.trainer-speak{
    margin-top: 12%;
    display: flex;
    justify-content: center;
    height: 40px;
}
.pokemon-data{
    border-left: 5px solid gray;
    width: 90%;
    padding-left: 10px;
    height: 22%;
}

.pokemon-speak{
    margin-top: 18%;
    display: flex;
    height: 100px;
}
.trainer-char{
    height: 230px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.trainer-todo{
    margin-top: 3%;
    height: 30%;
}
hr{
    background-color: gray;
    height: 5px;
    width: 680px;
}
.pokemonname{
    color: red;
    font-size: 24px;
}
.pokecap{
    border: 2px solid gray;
    height: 85px;
    width: 110px;
    background-color: antiquewhite;
}
.pokedex{
    display: flex;
    flex-direction: row;
    
}
.tc{
    margin-top: 33px;
}
ul{
    list-style: none;
}
.bounce {
    position:fixed;
    margin-bottom: 500px;
    -webkit-animation:bounce 1s infinite;
}
    
@-webkit-keyframes bounce {
    0%       { bottom:5px; }
    25%, 75% { bottom:15px; }
    50%      { bottom:20px; }
    100%     {bottom:0;}
}



