@font-face {
  font-family: Nes;
  src: url("../font/PressStart2P.ttf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Nes;
  vertical-align: baseline;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  line-height: 1;
}

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-content-center {
  align-content: center;
}

.align-items-center {
  align-items: center;
}

.main-wrapper {
  height: 100vh;
  width: 900px;
  overflow: auto;
  background: url("../img/big-bg.png") center no-repeat;
  background-size: cover;
  position: relative;
  margin: auto;
}

.main-page-header {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
  background: #fff;
  padding: 10px;
  z-index: 1;
  border: 1px solid #000;
}

.logo-container {
  width: 150px;
}
.logo {
  width: 100%;
}

.sort {
  width: 100%;
  height: 190px;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px auto;
}

.sort-header {
  margin: 10px auto;
}

.sort-location {
  margin: 10px;
}

.explore-btn {
  margin: 10px;
  justify-content: flex-end;
}

#explore-btn {
  padding: 5px;
  border: 1px solid #dae0e2;
  border-radius: 5px;
}

.poke-data {
  width: 100%;
  height: 350px;
  background: white;
  border: 1px solid black;
  margin: 5px auto;
  border-radius: 5px;
}

/* image */
.poke-image {
  flex: 2;
  height: 90%;
}

.poke-image section {
  border: 2px solid black;
  margin: 5px;
}

.file-marker > div {
  padding: 0 3px;
  margin-top: -0.8em;
}

.box-title {
  background: white none repeat scroll 0 0;
  display: inline-block;
  padding: 0 2px;
  margin-left: 0.1em;
}

.image {
  height: 210px;
  width: 100%;
}

.name {
  height: 50px;
  margin-bottom: 0;
}

.catch-btn {
  margin: 10px;
}

#catch {
  padding: 5px;
  background: #dae0e2;
  border: 1px solid #dae0e2;
}

/* stats */
.poke-stats {
  flex: 1;
  height: 90%;
}

.poke-stats section {
  border: 2px solid black;
  margin: 5px;
}

.margin-stats {
  margin-left: 0.1em;
}

.stats {
  width: 100%;
  height: 300px;
  justify-content: space-around;
}

/* captured */
.captured-pokemon {
  width: 100%;
  height: 250px;
  background: white;
  border: 1px solid black;
  margin: 5px auto;
  border-radius: 5px;
}

.poke-captured {
  height: 90%;
  width: 99%;
}

.poke-captured section {
  border: 2px solid black;
  margin: 5px;
}

.captured-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.captured-poke {
  flex: 1;
}
