body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;    
}

.top-container {
    display: flex;
    justify-content: center;
}

.select {
    text-align-last: center;
    height: 40px;
    width: 200px;;
}

.encounter-container {
    display: flex;
    margin: 50px;
    height: 800px;
    width: 1200px;
    background: whitesmoke;
    text-align: center;
}

.pokemon-container {
    display: flex;
    justify-content: space-evenly;
}

.captured-cont {
    margin: 50px;
    height: 800px;
    width: 400px;
    background: whitesmoke;
}

.stats {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    border: 2px solid black;
    height: 250px;
    width: 1160px;
    text-align:left;
}

.pokeStats{
    padding: 20px;
}

.pokePic img:first-child {
    height: 300px;
    width: auto;
}

.poke {
    background-image: url('../img/background.jpg');
    background-size: cover; 
    margin: 20px;
    border: 2px solid black;
    height: 480px;
    width: 1160px;
    font-size: 30px;
    color: white;
}

.mypoke {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.counter{
    height: 50px;
    width: 400px;
    background: #bada55;
    color: white;
    text-align: center;
    font-size: 20px;
}

.capture{
    background: #bada55;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 25px;
}

