body{
    background-color: #fff;
    box-sizing: border-box;
    opacity: 0;
    /* font-family: Ubuntu, sans-serif; */
    font-family: 'Press Start 2P', cursive;
}


.show{
    display: grid;
}
.flex-container {
    padding: 10px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    list-style: none;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    margin-left: -10px;
    margin-top: -10px;
  }
  
  .flex-item {
    padding: 5px;
    width: auto;
    height: 90vh;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
  }

  .flex-item img{
      height: 100%;
  }
  .center{
    border: 20px solid white;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;

  }
  
    .center-top{
        border: 50px solid black;
        height: 80vh;
        justify-content: center;
        align-items: center;
        width: 57%;
        z-index: 4;
        background-image: url('img/flat-space.gif');
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
        position: absolute;
    }

    .poke-logo{
        display: none;
        height: auto;
        width: 60vw;
        animation: mymove 2s ;
        position: relative;
        bottom: 90px;
    }
    @keyframes mymove {
        from {bottom: 0px;}
        to {bottom: 90px;}
      }
 
    .main-game{
        color: black;
        font-size: 2em;
        display: grid;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 70% auto;
       font-size: 2em;
    }
    .header { 
        grid-column-start: 1;
        grid-column-end: 3;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #CB0005;
     }

        .header img{
            width: auto;
            height: 70px;
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(251deg) brightness(101%) contrast(105%);
        }
        .header select{
            width: 150px;
            height: 25px;
            background-color: white;
        }

     .left-box { 
        border: 5px dotted red;
     }
     .right-box { 
       
        border: 5px dotted yellow;
     }
     .bottom { 
        grid-column-start: 1;
        grid-column-end: 3;
        color: red;
        border: 5px dotted blue;
     }

    
    .hide{
        display: none;
    }