body{
    background-color: #fff;
    box-sizing: border-box;
    opacity: 0;
}

.flex-container {
    padding: 10px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    list-style: none;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    margin-left: -10px;
    margin-top: -10px;
  }
  
  .flex-item {
    padding: 5px;
    width: auto;
    height: 90vh;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

  .flex-item img{
      height: 100%;
  }
  .center{
    border: 20px solid white;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;

  }
  
    .center-top{
        border: 50px solid black;
        height: 80vh;
        justify-content: center;
        align-items: center;
        width: 57%;
        z-index: 4;
        background-image: url('img/flat-space.gif');
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
        position: absolute;
    }

    .poke-logo{
        display: none;
        height: auto;
        width: 60vw;
        animation: mymove 2s ;
        position: relative;
        bottom: 90px;
    }
    @keyframes mymove {
        from {bottom: 0px;}
        to {bottom: 90px;}
      }
 
    
    /*  */
