body {
   background: url(../images/temp.gif);
   background-size: 110%;
   box-sizing: border-box;
   margin: 0;
   background-repeat: no-repeat;
   padding: 0;
   background-position: -96px -13px;
}

.game {
   margin-top: 21.2%;
   margin-left: 42.7%;
   background: transparent;
   border: none;
}

.poke-ball {
   width: 83%;
}

#explore {
   position: absolute;
   top: 482px;
   width: 100px;
   left: 47.3%;
}
